<ion-view view-title="Experience">
  <ion-content>
    <div class="card">
	  <div class="item item-divider">
	    2012年
	  </div>
	  <div class="item item-text-wrap">
	    步入大学，在大学读的是非计算机专业，但来到大学接触计算机后发现自己对计算机充满兴趣；于是在学好本专业的同时，又自学了前端方面的技术。
	  </div>
	</div>

	<div class="card">
	  <div class="item item-divider">
	    2015年
	  </div>
	  <div class="item item-text-wrap">
	    开始郑州一家互联网公司实习；实习职位是前端开发
	  </div>
	</div>

	<div class="card">
	  <div class="item item-divider">
	    2016年
	  </div>
	  <div class="item item-text-wrap">
	    大学毕业，继续在这家互联网公司上班，已经转正。
	  </div>
	</div>
  </ion-content>
</ion-view>
